
/* squelettes/css/base.css */
*,*:after,*:before{margin:0;padding:0;box-sizing:border-box}
html{position:relative;min-height:100%}
body{color:#000;font-size:.7rem;line-height:1.3;font-family:"CooperHewitt",sans-serif;background-color:rgb(250,250,250)}
a{background:transparent;color:#e1001a;transition:color .2s;text-decoration:none}
.texte a[href*="//"]:not([href*="cqfd-journal.org"])::after{content:' ➚'}
a:hover,a:visited,a:focus,a:active{color:#e1001a;outline:0;text-shadow:none;border:0;box-shadow:none;text-decoration:none}

a.btn,a.btn:hover{text-decoration:none}
a.discret{text-decoration:none;color:inherit}
.no-decoration,.no-decoration:hover{text-decoration:none}
a.spip_note{display:inline-block;font-size:.8rem;font-family:'CooperHewitt';margin:0 .1rem;transform:translateY(-.3rem);text-decoration:none}
.spip_note_ref a.spip_note{transform:translateY(0);font-size:1rem;text-decoration:none}
a.spip_note:hover{color:#e1001a;text-decoration:none}
p{font-family:'plantin';margin-bottom:0;font-size:.9rem;margin-bottom:1rem;line-height:1.3}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{font-family:'CooperHewitt';font-size:1.3rem;margin-bottom:0}
h1,.h1{font-size:2.6rem;margin-bottom:.5rem;color:#e1001a}
h2,.h2{font-size:2rem;margin-bottom:.5rem;color:#e1001a}
h3,.h3{font-size:1rem;margin-bottom:.25rem;color:#000}
h4,.h4{font-size:.8rem;margin-bottom:.25rem;color:#000}
h5,.h5{font-size:.7rem;margin-bottom:.25rem;color:#000}
h1 u,h2 u,h3 u,h4 u,h5 u,h6 u,.h1 u,.h2 u,.h3 u,.h4 u,.h5 u,.h6 u{text-decoration:none;border-bottom:.15rem solid}
h1 + h1,h2 + h2,h3 + h3,h4 + h4,h5 + h5{margin-top:.5rem}
hr{margin:2rem 0;border:none;border-top:.5px solid #000}
.text-mono,.text-mono p{font-family:"Courier New",Courier,monospace;font-size:.65rem;letter-spacing:.01em;line-height:1.4}
.text-small,.text-small p{font-size:.8rem}
.border{border:.5px solid #eee}
summary{list-style-type:none}
img{display:block;max-width:100%;height:auto}
p img{display:inline-block}
figure,.spip_logo{margin-bottom:1rem}
figure img{min-width:100%}
summary::marker{font-size:1rem}
.r-icon{height:0rem;display:inline-block;vertical-align:middle}
.r-icon svg{transform:translateY(-50%);width:1rem}
.columns{margin-left:-1.5rem;margin-right:-1.5rem}
.column{padding-left:1.5rem;padding-right:1.5rem}
.caractencadre-spip{color:#e1001a}
.caractencadre2-spip{color:#eda00d}
.spip_code{border:1px solid #dadada;background-color:rgba(229,229,229,0.5);color:#3b3b25;text-shadow:0 1px 0 #fdfdfc;font-size:.8rem}
blockquote.spip{padding-left:3rem;margin:1rem 0}
blockquote.spip p{margin:0}
.spip_document{font-family:'plantin';font-size:.7rem;font-weight:400}
.spip-block-center{font-size:1rem;font-family:'plantin'}
.capsule,.btn{display:inline-block;background:#ffdf5f;color:#000;border:none;line-height:1;height:auto;line-height:.8rem;padding:.4rem .7rem;border-radius:.1rem;transition:none;font-size:.65rem;margin-bottom:.5rem;white-space:nowrap;overflow:hidden;max-width:100%;text-overflow:ellipsis;vertical-align:middle;font-family:'CooperHewittMedium',monospace}
.btn:focus,.btn:hover,.btn:visited{background:#ffdf5f;border:none;transition:none;color:#000}
.btn:hover{background:#FFEC74}
.btn:focus{box-shadow:0 0 0 .1rem rgba(168,168,168,0.2)}
.btn.btn-primary{background:#ffabda;color:#000}
.btn.btn-primary:focus,.btn.btn-primary:hover,.btn.btn-primary:visited{color:#000;background:#ffcae8}
.capsule,.btn-secondary{background-color:transparent;color:#000;border:.5px solid}
p.explication{opacity:.5}
.texte ol,ol.spip,.texte ul,ul.spip{list-style-type:disc;list-style-position:inside;margin:1rem 0;font-family:'plantin';font-size:1rem}
.texte ol,ol.spip{list-style-type:decimal}
.columns-4{column-count:4;column-gap:2rem}
.columns-3{columns:3;column-gap:3rem}
[type="reset"],[type="submit"],button,html [type="button"]{cursor:pointer}
dl dt{display:inline-block}
dl dt img{width:1rem}
ul.pagination-items,ol.pagination-items{display:flex;list-style:none}
.pagination-item{margin-right:1rem}
@font-face{font-family:'plantin';src:url('font/PLANTINSTD.OTF');font-weight:400;font-style:normal}
@font-face{font-family:'plantin';src:url('font/PLANTINSTD-BOLD.OTF');font-weight:700;font-style:normal}
@font-face{font-family:'plantin';src:url('font/PLANTINSTD-ITALIC.OTF');font-weight:400;font-style:italic}
@font-face{font-family:'plantin';src:url('font/PLANTINSTD-BOLD.OTF');font-weight:700;font-style:italic}
@font-face{font-family:'CooperHewitt';src:url('font/CooperHewitt-Bold.otf');font-weight:400;font-style:normal}
@font-face{font-family:'CooperHewitt';src:url('font/CooperHewitt-BoldItalic.otf');font-weight:400;font-style:italic}
@font-face{font-family:'CooperHewittMedium';src:url('font/CooperHewitt-Semibold.otf');font-weight:400;font-style:normal}
@font-face{font-family:'CooperHewittMedium';src:url('font/CooperHewitt-Semibold.otf');font-weight:400;font-style:italic}
@font-face{font-family:'WorkAvec';src:url('//cqfd-journal.org/squelettes/css/fonts/WorkAvec-Medium.ttf');font-weight:400;font-style:normal}
@font-face{font-family:'WorkAvec';src:url('//cqfd-journal.org/squelettes/css/fonts/WorkAvec-SemiBold.ttf');font-weight:700;font-style:normal}

/* squelettes/css/theme.css */
.page{max-width:1200px;margin:3rem auto 0;padding:0 2rem;min-height:100vh}
.main{margin:2rem 0 0}
.boite{margin:2rem 0}
.sticky{position:sticky;top:2rem}
#navbar{padding:0;transition:all .3s;transform:translateY(0%);position:relative;z-index:99999}
.navbar-header{padding:.5rem 2rem}
.navbar-header .logo{max-width:30rem;width:45vw}
.navbar-header .logo img{margin:0}
.navbar-header h3{font-size:1.3rem;color:#000}
.navbar-header h4{color:#000}
.navbar-menu{background:#000;border-left:0;border-right:0;padding:0 2rem;height:2rem}
.navbar-menu .logo{position:absolute;top:0;left:3rem;height:100%;cursor:grab}
.navbar-menu .logo img{position:absolute;left:0;bottom:0;width:2.5rem;max-width:none;transform:translate(-50%,50%)}
.navbar-menu .icon-search{font-size:1.2rem}
.navbar-menu a{margin-right:2rem;white-space:nowrap;color:#F6F4F3}
.navbar-section a:last-child{margin-right:0}
.navbar-section .couverture-dernier-numero{width:12.3vw;max-width:9.6rem;position:absolute;top:0;right:10rem;margin:0;transform:rotate(5deg)}
.navbar-section .couverture-dernier-numero img{border:0.5px solid #000}
.navbar-section .en-kiosque{max-width:9rem;border-radius:100%;border:.5px solid #000;background:#fff;padding:1.3rem;text-align:center}
.navbar .dropdown .menu{line-height:1;padding:1.5rem;max-height:none;text-align:left;position:fixed;top:0;left:0;right:0;transform:none}
.navbar .dropdown li{margin:0}
.navbar .dropdown a{margin:0;padding:.75rem;display:inline-block;white-space:nowrap}
.navbar .dropdown > a{padding:0;margin:0;width:2.5rem;height:2.5rem;line-height:2.5;border-radius:50%;display:inline-block;text-align:center;vertical-align:middle}
.navbar .dropdown > a svg{width:100%;height:auto}


.entry{margin-bottom:6rem}
.boite-article:nth-child(2n+1){flex-direction:row-reverse}
.entry .cover{position:relative;width:100%;padding-bottom:66%;overflow:hidden;margin:0;margin-bottom:0px;margin-bottom:1rem;border:.5px solid #000;border-radius:.1rem;background-color:#fff;background-image:url('//cqfd-journal.org/squelettes/img/chienrouge.png');background-size:50%;background-repeat:no-repeat;background-position:center}
.entry.boite-une .cover{padding-bottom:50%}
.entry .cover img{position:absolute;width:100%;height:100%;top:0;left:0;object-fit:cover}
.entry .illu img{border:.5px solid #eee;width:100%}
.entry h2{margin-bottom:.25rem}
.entry .text-mono{margin-bottom:1rem}
.selecteur_une{padding:.5rem;border:.5px solid;border-radius:.1rem;font-family:"CooperHewittMedium",sans-serif}
.sommaire .navbar{margin-bottom:2rem}
.coupure{padding:3rem 0;position:relative;color:#000}
.coupure .columns{justify-content:center}
.coupure::after{content:" ";background:#ffdf5f;background:#ffdf5f;position:absolute;top:0;bottom:0;left:-1000%;right:-1000%;z-index:-1}
.coupure a,.coupure h2,.coupure h3,.coupure h4{color:#000}
.coupure .capsule{background:transparent;border:.5px solid #000;color:#000}
.coupure .btn:not(.btn-primary){background:#fff}
.coupure .btn{border:.5px solid #000}
.coupure .cover{margin-bottom:1rem}
.liens .coupure .columns > .capsule,.coupure > .capsule{position:absolute;top:0;left:0;transform:translateY(-50%);background-color:#fff;color:#000;border:.5px solid}
.liens a{position:relative}
.boite-sommaire details{text-align:left;font-family:'plantin';border-top:.5px solid;border-bottom:.5px solid;font-size:.8rem;cursor:pointer}
.boite-sommaire details + details{border-top-color:transparent}
.boite-sommaire details summary{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;padding:.25rem 0}
.boite-sommaire details[open] summary{border-bottom:.5px dashed}
.boite-sommaire details div{padding:.3rem 0}
.boite-sommaire h4{margin:1rem 0 .25rem;text-transform:uppercase}
.boite-sommaire::marker{font-size:.7rem}
.page_article h1{margin-bottom:2rem}
.page_article .coupure{margin-bottom:3rem}
.lien_rubrique{position:relative}
.lien_rubrique img{display:none;position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);max-width:5rem;border:.5px solid #eee;background:#fff}
.lien_rubrique:hover img{display:block}
.texte,.comments,.ecrire_commentaire{margin-top:2rem;max-width:620px}
.texte p{font-size:1rem;margin-bottom:1rem;line-height:1.4}
.texte iframe{width:100%;height:380px}
.texte .lettrine{font-size:4.6rem;display:block;float:left;margin-right:.6rem;margin-top:.6rem;line-height:3.3rem}
.texte .spip-block-center > strong,.texte div[align="center"] > strong{font-family:"CooperHewitt",sans-serif;font-weight:400;font-size:1rem;margin:2rem auto 1rem;display:inline-block;text-transform:uppercase;text-decoration:underline;text-decoration-thickness:.1rem;text-underline-offset:.1rem}
.texte div[align="center"] > strong{margin:2rem auto}
.texte div.spip-block-right > strong{font-family:"CooperHewitt",sans-serif;font-weight:400}
.texte h1,.texte h2,.texte h3,.texte h4,.texte h5,.texte h6{margin:1rem 0}
.texte dl{font-family:'plantin';font-size:1rem;display:block;border:1px solid;border-bottom:0}
.texte dt{border-bottom:1px solid;display:block;padding:1rem;margin:0;position:relative;cursor:pointer}
.texte dt:hover,.texte dt.active{background:#eee}
.texte dd{border-bottom:1px solid;padding:1rem;margin:0;display:none}
.texte dt.active + dd{display:block}
.texte dt::after{content:"+";position:absolute;right:1rem;font-family:monospace;font-size:1rem}
.texte dt.active::after{content:"-"}
.spip_poesie{font-size:1rem;color:#e1001a;text-align:center;width:12rem;float:left;margin:1rem;margin-top:0;border:0;border-top:4px solid;border-bottom:4px solid;padding:1rem 0}
.spip_poesie div{margin-left:0;text-indent:0}
.texteencadre-spip{font-size:1rem;line-height:1.4;font-family:plantin;color:#000;background:#ffdf5f;border:0;padding:1rem 1.3rem;border-radius:1rem}
.texteencadre-spip h3{font-size:1.5rem;text-transform:uppercase}
.spip_documents img{width:100%;border:.5px solid #eee;margin:auto;margin-bottom:.25rem}
.spip_document_file .spip_doc_lien img{max-width:5rem;min-width:0}
.spip_doc_titre,.spip_doc_credits{font-size:.65rem;font-weight:400}
.spip_doc_titre strong,.spip_doc_credits strong{font-weight:400}
.notes{margin:2rem 0;max-width:620px;columns:2;column-gap:3rem}
.notes hr{display:none}
.notes-box{position:fixed;top:50%;left:50%;width:20rem;background:#fff;border:none;border-radius:1rem;padding:1rem;margin:0;column-count:1;transform:translate(-50%,-50%);max-width:95%;z-index:9999}
.notes-box::after{content:"×";position:absolute;bottom:100%;right:0;font-size:1.5rem;line-height:1.2;text-align:center;cursor:pointer;pointer-events:none}
.notes-box p{margin:0}
.overlay{background-color:rgba(255,255,255,0.66);position:fixed;top:0;left:0;width:100%;height:100%;z-index:999;cursor:pointer}
.liens{margin-top:3rem}
.pagination_precedent_suivant{clear:both;text-align:center;font-size:.65rem!important;margin:1rem 0;font-family:"Courier New",Courier,monospace}
.pagination_precedent_suivant a{text-decoration:none}
.ajaxbloc .pagination_precedent_suivant{position:absolute;top:0;left:0;width:100%;height:100%;margin:0;padding:0}
.ajaxbloc .pagination_precedent_suivant .prev{position:absolute;top:10rem;left:-2rem;transform:translate(-100%,-50%);z-index:99}
.ajaxbloc .pagination_precedent_suivant .next{position:absolute;top:10rem;right:-2rem;transform:translate(100%,-50%);z-index:99}
.ajaxbloc .pagination_precedent_suivant a,.ajaxbloc .pagination_precedent_suivant span{text-decoration:none;font-family:"Courier New";font-size:1rem;width:1.6rem;height:1.6rem;display:block;border-radius:100%;line-height:1.6rem;color:#000;border:.5px solid;background:none}
.comment-item{margin:1rem 0;padding-bottom:1rem}
.comment-item p{margin-bottom:0}
.formulaire_spip,.formulaire_spip p,.formulaire_spip legend,.formulaire_spip label{font-family:"Courier New",Courier,monospace;font-size:90%;letter-spacing:.01em;line-height:1.5;margin:0}
.formulaire_spip legend{display:none}
.comment-texte p{font-family:"plantin";font-size:1rem}
.formulaire_spip input.text,.formulaire_spip textarea{padding:.1rem .5rem;border:.5px solid #eee;border-radius:.25rem;margin:.25rem 0;font-family:"plantin";font-size:1rem}
.editer-groupe{display:flex;margin:0 -1rem;flex-wrap:wrap}
.editer-groupe .editer{display:flex;align-items:center;position:relative;margin:0 1rem;flex:1;min-width:10rem}
.editer-groupe .editer label{margin-right:.5rem;display:block;white-space:nowrap;position:absolute;top:.5rem;left:.5rem;font-size:.65rem;z-index:1}
.editer-groupe .editer input,.editer-groupe .editer textarea{padding:.9rem .5rem .1rem;width:100%}
.editer-groupe .editer textarea{padding:1.3rem .5rem 1.7rem}
.saisie_texte label,.saisie_texte .explication{display:none}
.formulaire_spip textarea{width:100%;background:#fff;padding:.25rem .5rem;height:12rem}
.forum{width:100%}
.forum-titre{display:none}
.markItUp .markItUpHeader{border:none;margin:0;position:absolute;bottom:.5rem;left:.3rem;border-top:.5px solid;border-radius:0;z-index:1;background:#fff}
.formulaire_spip .boutons input,.formulaire_spip .boutons button{border:.5px solid #eee;padding:.5rem 1rem;border-radius:.2rem;background:#fff}
.encart{margin:3rem 0 1rem}
.formulaire_recherche [type="submit"]{width:2.5rem!important;height:2.5rem!important;line-height:2rem;padding:0!important;border-radius:50%;border:none;background:#000;margin:0 1rem;color:#fff;font-weight:700}
.footer{background:#000;color:#FFF;padding:1rem 2.75rem;overflow:hidden}
.footer a{color:#FFF}
#spip-admin{z-index:99999;right:0rem;top:auto;bottom:0rem;display:flex;flex-direction:column;align-items:end}
#spip-admin::after{content:' '}
#spip-admin{width:2rem;height:2rem;background:#000;border-radius:100%}
#spip-admin > .spip-admin-boutons{display:none}
#spip-admin:hover{width:auto;height:auto;background:none;border-radius:0}
#spip-admin:hover > .spip-admin-boutons{display:block}
#spip-admin .spip-admin-boutons{margin:.25rem 0;padding:.2rem .7rem;border:0;border-radius:0;background:#000;color:#fff!important;opacity:1;font-family:Courier;font-weight:400;font-size:.8rem}
@media (max-width:1280px){.navbar-header h3{font-size:.8rem}}
@media (max-width:840px){h1{font-size:1.5rem}
h2{font-size:1.1rem}
.page{padding:0 1rem;overflow:hidden;margin:0}
.navbar-header{padding:.5rem 1rem}
.coupure{padding:1rem 0}
.entry .titraille,.entry.boite-une .titraille{margin-bottom:1rem}
.entry .cover{margin-bottom:1rem}
.page_article .main .content .columns{flex-direction:column-reverse}
.page_article .main .content .columns .print-hide{display:none}
.columns-3,.columns-4{column-count:1}
.text-chapo,.text-chapo p{font-size:1rem}
.texte p{font-size:.9rem;margin-bottom:1.5rem}
.texte ul,ul.spip{font-size:.9rem}
.texte div[align="center"] > strong{font-size:.9rem;margin-bottom:1.5rem}
.texte iframe{height:240px}
.comment-item p{font-size:.8rem}
.footer{padding:1rem}
.footer .column{margin-bottom:1rem}}
@media (max-width:600px){.spip_poesie{margin-right:1rem;width:auto}}
@media print{.print-hide{display:none}
body,html{font-size:12pt;background:none}
#navbar{display:none}
.page{max-width:none;margin:0}
.texte{max-width:none}
.comments,.ecrire_commentaire,.liens,.footer,hr{display:none}}
