{{ define "main" }}
 <style>
body {
  background-image: url('/lightning.png');
  background-repeat: no-repeat;
}
</style> 
<div style="text-align:center;">
    <img alt="Logo de Sans Treve" class="z-10 mx-auto relative text-transparent" height="200" loading="lazy" src="/logo-t.png">
    <h3>Média d'intervention pour la révolution</h3>
    <p>(Présentation succinte de la ligne du média et encourager les gens à contribuer)</p>
    <p><a href="/contribuer">CONTRIBUER</a></p>
</div>
<h2>Recent Articles</h2>
<div class="previews">
  {{ range site.RegularPages }}
  <div class="preview">
      <div class="preview-image">
      <a class="article-preview" href="{{ .RelPermalink }}">
        <img class="preview-image-photo" src="{{ .Params.image }}" alt="{{ .Params.alt }}">
      </a>
      </div>
      <div class="preview-text">
      <a class="article-preview" href="{{ .RelPermalink }}">
        <h3 class="article-category">{{ .Page.Params.category }}</h3>
        <h2 class="article-preview"> {{ .LinkTitle }} </h2>
        <p class="date article-preview">{{ .Date.Format "2006-01-02" }}</p>
        <p class="summary article-preview">{{ .Content | plainify | truncate 300 }}</p>
      </a>
      </div>
  </div>
  {{ end }}
</div>
{{ end }}
