{{ define "main" }}
<div style="text-align:center;">
    <h1>SANS TREVE</h1>
    <h3>Média d'intervention pour la révolution</h3>
</div>
<h2>Recent Articles</h2>
<div class="previews">
  {{ range site.RegularPages }}
  <a class="article-preview" href="{{ .RelPermalink }}">
    <img class="article-preview" src="{{ .Params.image }}" alt="{{ .Params.alt }}">
    <h2 class="article-preview"> {{ .LinkTitle }} </h2>
    <p class="date article-preview">{{ .Date.Format "2006-01-02" }}</p>
    <p class="summary article-preview">{{ .Content | plainify | truncate 300 }}</p>
  </a>
  {{ end }}
</div>
{{ end }}
