{{ define "main" }}
{{ if eq .Paginator.PageNumber 1 }}
<div class="contribute">
  <h1>Média d'intervention pour la révolution !</h1>
  <h2>Un média émanant de l’organisation concrète pour sortir de l’atomisation. Il s’agit pour nous de construire un espace permettant l’expression et la mise en lien de celles et ceux qui luttent concrètement.</h2>
  <a href="/contribuer">Contribuer</a>
  <i class="fa fa-chevron-down" id="go-down"></i>
</div>

<div class="big-article-preview-container">
  <button id="prev-button" class="big-article-preview">
    <i class="fa fa-chevron-left"></i>
  </button>
  <button id="next-button" class="big-article-preview">
    <i class="fa fa-chevron-right"></i>
  </button>
  {{range first 3 .Site.RegularPages}}
    <a class="big-article-preview" style="display: {{ if eq . (index .Site.RegularPages 0) }}flex{{ else }}none{{ end }};" href="{{ .RelPermalink }}">
      <img class="big-article-preview" src="{{ .Params.image }}" alt="">
      <h2 class="big-article-preview">{{ index .Params.categories 0 }}</h3>
      <h1 class="big-article-preview">{{ .LinkTitle }}</h2>
    </a>
  {{ end }}
</div>
{{ end }}
<h2 id="article-recent">Articles récent{{ if not (eq .Paginator.PageNumber 1) }} · Page {{ .Paginator.PageNumber }}{{ end }}</h2>
<div class="previews">
  {{ range (.Paginate site.RegularPages).Pages }}
  <a class="article-preview" href="{{ .RelPermalink }}">
    <img class="article-preview" src="{{ .Params.image }}" alt="{{ .Params.alt }}">
    <h2 class="article-preview"> {{ .LinkTitle }} </h2>
    <p class="date article-preview">{{ .Date.Format "2006-01-02" }}</p>
    <p class="summary article-preview">{{ .Content | plainify | truncate 300 }}</p>
  </a>
  {{ end }}
</div>
{{ template "_internal/pagination.html" . }}
{{ end }}
