{{ define "main" }}
<div class="article-header">
  <h3 class="article-category">{{ index (.Page.Params.categories) 0 }}</h3>
  {{ if .Page.Params.image }}
  {{ end }}
  <h1>{{ .Title }}</h1>
  {{ if .Page.Params.author }}
  <div class="article-author">
    <!-- <img class="article-author"
      src="https://www.preventimark.com/uploads/Aimeos/Panneau-de-signalisation-etiquette-signaletique-autocollante-obligation-pasage-pietons-obligatoire-M225.jpg"
      alt="Photo autheur"> -->
    <p class="article-author">Par <span style="color: black">{{ .Page.Params.author }}</span></p>
  </div>
  {{ end }}
  {{ if .Date }}
  <p class="article-date">{{ .Date | time.Format "2 January 2006" }} à {{ .Date | time.Format "15h04" }}</p>
  {{ end }}
</div>
<div class="texte">
  {{ .Content }}
</div>


<h2 class="preview-footer">Vous aimerez aussi</h2>
<div class="previews">
  {{ range first 3 site.RegularPages }}
  <a class="article-preview" href="{{ .RelPermalink }}">
    <img class="article-preview" src="{{ .Params.image }}" alt="{{ .Params.alt }}">
    <h2 class="article-preview"> {{ .LinkTitle }} </h2>
    <p class="date article-preview">{{ .Date.Format "2006-01-02" }}</p>
  </a>
  {{ end }}
</div>
{{ end }}