{{ define "main" }}
<div class="article-header">
  <h3 class="article-category">{{ .Page.Params.category }}</h3>
  <h1>{{ .Title }}</h1>
  <div class="article-author">
    <img class="article-author" src="https://cdn-images.dzcdn.net/images/artist/bcc27c5d4f98e764f00cc6ecf7ee5483/500x500-000000-80-0-0.jpg" alt="Photo autheur">
    <p class="article-author">Par {{ .Page.Params.author }} </p>
  </div>
  <p class="article-date">{{ .Date | time.Format "2 January 2006" }} à {{ .Date | time.Format "15h04" }}</p>
</div>
<div class="texte">
  {{ .Content }}
</div>


<h2 class="preview-footer">Vous aimerez aussi</h2>
<div class="previews">
  {{ range first 3 site.RegularPages }}
  <a class="article-preview" href="{{ .RelPermalink }}">
    <img class="article-preview" src="{{ .Params.image }}" alt="{{ .Params.alt }}">
    <h2 class="article-preview"> {{ .LinkTitle }} </h2>
    <p class="date article-preview">{{ .Date.Format "2006-01-02" }}</p>
  </a>
  {{ end }}
</div>
{{ end }}