{{ define "main" }}
<div class="article-header">
  <h3 class="article-category">{{ index (.Page.Params.categories) 0 }}</h3>
  <h1>{{ .Title }}</h1>
  <p class="article-author">{{ .Page.Params.author }} </p>
  <p class="article-date">{{ .Date | time.Format "2 January 2006" }} à {{ .Date | time.Format "15h04" }}</p>
</div>
<div class="texte">
  {{ .Content }}
</div>


<h2 class="preview-footer">Vous aimerez aussi</h2>
<div class="previews">
  {{ range first 3 site.RegularPages }}
  <a class="article-preview" href="{{ .RelPermalink }}">
    <img class="article-preview" src="{{ .Params.image }}" alt="{{ .Params.alt }}">
    <h2 class="article-preview"> {{ .LinkTitle }} </h2>
    <p class="date article-preview">{{ .Date.Format "2006-01-02" }}</p>
  </a>
  {{ end }}
</div>
{{ end }}