:root {
  --color-primary: #3137FD;
  --color-text: #54626F;
  --color-background: #F8F8FF;
  --color-secondary-background: #d2d4c8;
  --font-paragraph: 'PPNikkeiPacific-Pacific';
  --font-heading: 'CormorantSC-Regular';
}


body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-paragraph);
  line-height: 1.5;

  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 0 20px;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  /* margin: 0; */
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

p {
  font-family: var(--font-paragraph);
  margin-bottom: 0;
  font-size: 1.1rem;
}

h1 {
  color: var(--color-primary);
  margin: 0;
  font-size: 3rem;
}

.content {
  flex: 1;
  max-width: 1000px;
}

/* Navigation */

/* Footer */

.back-footer {
  width: 100%;
  background-color: var(--color-text);
  border-top: black 1px solid;
  border-bottom: black 1px solid;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  padding: 2rem 1rem;
  width: 100%;
  max-width: 1000px;
  color: white;
}

/* Footer */

/* Article */
.article-header {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--secondary-text);
}

.article-category {
  margin: 0;
  font-weight: 200;
  text-transform: uppercase;
}

.article-author {
  margin: 0;
  line-height: normal;
  color: #3e3e3e;
}

.article-date {
  margin: 0;
  line-height: normal;
  color: #3e3e3e;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  width: 100%;
  margin-bottom: 1rem;
}

/* Navigation */

/* Article */
.article-header {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: var(--color-text) 1px solid;
}

.article-category {
  margin: 0;
  font-weight: 200;
  text-transform: uppercase;
}

.article-author {
  margin: 0;
}

.article-date {
  margin: 0;
}

/* Article */

/* Article preview */
.previews {
  display: block;
  gap: 1.5rem;
}

.preview {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.preview-image {
  display: block;
  gap: 1.5rem;
}

.preview-text {
  display:block;
  gap: 1.5rem;
}

img.preview-image-photo {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

h2.article-preview {
  margin: 0;
}

p.article-preview {
  margin: 0;
  font-size: 1rem;
  color: var(--color-text);
}

.summary.article-preview {
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}
