:root {
  --primary: #c40e29;
  --text: #2e3532;
  --secondary-text: #dadada;
  --background: white;
  --secondary-background: white;
}


body {
  background-color: var(--background);
  color: var(--text);
  font-family: "CooperHewitt", sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  /* padding: 0 20px; */
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'CooperHewitt';
}

a {
  color: var(--primary);
  text-decoration: none;
}

ul {
  margin: 0.6rem 0;
}

p, li {
  font-family: 'plantin';
  margin-bottom: 0;
  font-size: 1.1rem;
  line-height: 1.5;
}

h1 {
  color: var(--primary);
  margin: 0;
  font-size: 3rem;
  line-height: normal;
}

blockquote {
  font-style: italic;
  color: #3e3e3e;
  border-left: 5px solid #3e3e3e;
  padding-left: 1rem;
  margin: 0;
  margin-left: 1rem;
}

.content {
  flex: 1;
  max-width: 1000px;
  margin: 0 20px;
}

/* Navigation */

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  width: 100%;
  max-width: 1000px;
  color: var(--text);
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-bottom: 0.8rem; */
  margin-bottom: 0.8rem;
  width: 100%;
  max-width: 1000px;
  border-bottom: 2px solid var(--secondary-text);
}

nav a {
  border-bottom: 2px solid transparent;
  padding: 1.2rem 0rem;
  margin: 0 1rem;
}

nav a:hover {
  border-bottom: 2px solid var(--primary);
}

nav a.active {
  /* border-bottom: 2px solid var(--primary); */
}

nav h1 {
  font-size: 1.5rem;
  margin-right: 10px;
  color: var(--text);
}

/* Navigation */

/* Footer */

.back-footer {
  width: 100%;
  background-color: #7991ab;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  padding: 1rem 0;
  width: 100%;
  max-width: 1000px;
  color: white;
}

/* Footer */

/* Article */
.article-header {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--secondary-text);
}

.article-category {
  margin: 0;
  font-weight: 200;
  text-transform: uppercase;
}

.article-author {
  margin: 0;
  line-height: normal;
  color: #3e3e3e;
}

.article-date {
  margin: 0;
  line-height: normal;
  color: #3e3e3e;
}

/* Article */

/* Article preview */
.previews {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
}

a.article-preview {
  border-radius: 5px;
}

img.article-preview {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

h2.article-preview {
  margin: 0;
}

p.article-preview {
  margin: 0;
  font-size: 1rem;
  color: rgb(78, 78, 78);
}

.summary.article-preview {
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}


/* Article preview footer */
h2.preview-footer {
  text-align: center;
  padding-top: 2rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  border-top: 2px solid var(--secondary-text);
}